html * {
    font-family: "Montserrat";
  }
  
  #map {
    /* background-color: green; */
    height: 500px;
  margin: 50px;
  border: 2px solid black;

  }
  
  #pinterest {
    background-color: red;
  }

