html * {
  font-family: "Montserrat";
}

#map {
  display: flex;
  height: 585px;
  left: 500px;
  top: -7px;
  width: 980px;
  margin: 15px 50px 30px 50px;
  border: 2px solid black;
  background-color: gray;
}

.map-container {

  background-color: #666666d1;
  height: 600px;
  border: 2px solid black;

}

.collapsible {
 
  color: black;
  cursor: pointer;
  
  position: relative;
  left: 950px;
  margin-bottom: 14px;
  
  
  

  
}

.active, .collapsible:hover {
  background-color: #f5a803ea;
  ;
}

