html * {
  font-family: "Montserrat";
}

#map {
  height: 300px;
  width: 100%;
}

.map-container {
  height: 300px;
}

.collapsible{

justify-content: center;
margin-bottom: 10px;
margin-left: 10px;
position: relative;
left: 30px;
}